// font-fam

$font-family: "Poppins", sans-serif;

// font-weights
$fw-light: 200;
$fw-regular: 400;
$fw-Medium: 500;
$fw-bold: 700;

// colors

$background: #292b2c;

// border-radius

$bd-radius-5: 5px;
$bd-radius-8: 5px;
